extends ../views/layout
block content
  header#header
    span=rooms[0].name
    div
      if prevPage != null
        a(href=`/room/${prevPage}`)
          img(id="back" src="/images/ic_arrow_back_white_36px.svg")
      if nextPage != null
        a(id="next-page" href=`/room/${nextPage}`)
          img(src="/images/ic_arrow_forward_white_36px.svg")
  div#content.full
    div.room.full
      div.room-content  
        each sensor in rooms[0].sensors
            p.
              #[i(class=`${sensor.type}` aria-hidden="true")] #{sensor.name}: #{sensor.value} #{sensor.unit}
