extends ../views/layout
block content
  header#header
    span=title
    div
      if prevPage != null
        a(href=`/?offset=${prevPage}`)
          img(id="back" src="/images/ic_arrow_back_white_36px.svg")
      if nextPage != null
        a(id="next-page" href=`/?offset=${nextPage}`)
          img(src="/images/ic_arrow_forward_white_36px.svg")
  div#content
    each room, index in rooms
      div.room
        div.service-title.text-center= room.name
          div.room-buttons
            a(href=`/room/?offset=${index+offset}`)
              img(src="/images/ic_description_white_24px.svg")
        div.arrow-down
        div.room-content
          for sensor in room.sensors
            p.
              #[i(class=`${sensor.type}` aria-hidden="true")] #{sensor.name}: #{sensor.value} #{sensor.unit}
